<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>
<div id="my-dashboard-464"></div>
<script type="text/javascript">
    (function(a,e,f,g,b,c,d) {a[b]||(c=e.createElement(f),c.async=1,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d));a[b]=a[b]||{};a[b].addDashboard=a[b].addDashboard||function(c){(a[b].list=a[b].list||[]).push(c)}})(window,document,'script','https://cdn-a.cumul.io/js/cumulio.min.js','Cumulio');

    Cumulio.addDashboard({
        dashboardId: '6c57306d-aae5-43ad-b790-3cb941d0a3af',
        container: '#my-dashboard-464',
        key: '<%= key %>',
        token: '<%= token %>'
    });
    //console.log({{result}});
</script>

</body>
</html>
