<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body class="bg">
  <!--Navbar-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="CNBP Logo">
      CNBP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/status">Status</a>
        <a class="nav-item nav-link" href="/dashboard">Historical dashboards</a>
        <a class="nav-item nav-link" href="/customerdashboard">Customer analytics</a>
        <a class="nav-item nav-link" href="/lead">Leads</a>
        <a class="nav-item nav-link hidden-xs" href="/support">Support</a>
        <a class="nav-item nav-link" href="/team">Team</a>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">SmartSense</h1>
    <p class="lead">CNBP Smart industry solutions tool.</p>
    <hr class="my-4">
    <p>This tool has been developed by Arrow.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/team" role="button">Learn more</a>
    </p>
  </div>

  <!--<footer class="footer">
    <div class="container">
      <span class="text-muted"><p class="love">Made with <i class="fas fa-heart"></i> in Hamburg</p></span>
    </div>
    <div class="container d-inline float-right">
      Test
    </div>
  </footer>-->
  <footer class="footer">
    <span class="text-muted float-left"><p class="love">Made with <i class="fas fa-heart"></i> in Hamburg</p></span>
    <div class="float-right">
      <a href="/login">Client login demo</a>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
