<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/status.css'/>
</head>
<body>
<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="CNBP Logo">
        CNBP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/status">Status</a>
            <a class="nav-item nav-link" href="/dashboard">Historical dashboards</a>
            <a class="nav-item nav-link" href="/customerdashboard">Customer analytics</a>
            <a class="nav-item nav-link" href="/lead">Leads</a>
            <a class="nav-item nav-link d-none d-sm-block" href="/support">Support</a>
            <a class="nav-item nav-link" href="/team">Team</a>
        </div>
    </div>
</nav>

<!-- Content -->

<h2>Internal <small><div class="statusbadge d-inline"><span class="badge badge-success">Stable</span></div></small></h2>
<h3>Leeds <small><div class="statusbadge d-inline"><span class="badge badge-success">Stable</span></div></small></h3>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Machine 1 <div class="statusbadge d-inline"><span class="badge badge-primary"><i class="fas fa-sync fa-spin"></i></span></div>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Temperature: <i id="1temp" class="fas fa-thermometer-half"></i>
                Vibration: <i id="1vibr" class="fas fa-signature"></i>
                Oil: <i id="1oil" class="fas fa-tint"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Machine 2 <span class="badge badge-info">Dummy</span>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Temperature: <i class="fas fa-thermometer-half green"></i>
                Vibration: <i class="fas fa-signature green"></i>
                Oil: <i class="fas fa-tint green"></i>
            </div>
        </div>
    </div>
</div>

<br>
<h3>Glasgow <small><span class="badge badge-info">Under Construction</span></small></h3>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Machine 1 <span class="badge badge-info">Dummy</span>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Temperature: <i class="fas fa-thermometer-full red"></i>
                Vibration: <i class="fas fa-signature red"></i>
                Oil: <i class="fas fa-tint red"></i>
            </div>
        </div>
    </div>
</div>

<br>
<h2>Client systems</h2>
<div id="clientloading" class="fa-3x">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<div id="clientloaded" class="hidden">
    <div id="client_ok" class="alert alert-primary" role="alert">
        No alerts on client systems
    </div>
    <div id="client_warning" class="alert alert-warning" role="alert">
        Check Ace Chemicals maintenence status!
    </div>
    <div id="client_danger" class="alert alert-danger" role="alert">
        Danger at Ace Chemicals!
    </div>

    <div class="accordion" id="accordionClient">
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Ace Chemicals <span class="badge badge-dark">Offline</span>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" aria-expanded="true" data-parent="#accordionExample">
                <div class="card-body">
                    Temperature: <i id="2temp" class="fas fa-thermometer-half"></i> <!-- <i id="2temp_ok" class="fas fa-thermometer-half green"></i> <i id="2temp_hot" class="fas fa-thermometer-full red"></i> -->
                    Vibration: <i id="2vibr" class="fas fa-signature"></i> <!-- <i id="2vibr_ok" class="fas fa-signature green"></i> <i id="2vibr_high" class="fas fa-signature red"></i> -->
                    Oil: <i id="2oil" class="fas fa-tint"></i> <!-- <i id="2oil_ok" class="fas fa-tint green"></i> <i id="2oil_leak" class="fas fa-tint red"></i> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- WS -->
<script>
    const ws = new WebSocket('wss://' + 'smartsense.eu-gb.mybluemix.net' + '/ws/alerts');
    ws.addEventListener('open', function () {
        console.log(`Heyy, we're connected`);
    });
    ws.addEventListener('message', function (e) {
        var data = JSON.parse(e.data);

        if (data.temp == "high" || data.leak == "wet") {
            var x = document.getElementsByClassName("statusbadge");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].innerHTML = "<span class=\"badge badge-danger\">Danger</span>";
            }
            $('#collapseOne').collapse('show');
        } else if (data.vibration == "high") {
            //console.log("warning");
            var x = document.getElementsByClassName("statusbadge");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].innerHTML = "<span class=\"badge badge-warning\">Warning</span>";
            }
            $('#collapseOne').collapse('show');
        } else {
            var x = document.getElementsByClassName("statusbadge");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].innerHTML = "<span class=\"badge badge-success\">Stable</span>";
            }
        }

        if (data.temp == "high") {
            $("#1temp").addClass("red");
            $("#1temp").removeClass("green");
        } else {
            $("#1temp").removeClass("red");
            $("#1temp").addClass("green");
        }

        if (data.leak == "wet") {
            $("#1oil").addClass("red");
            $("#1oil").removeClass("green");
        } else {
            $("#1oil").removeClass("red");
            $("#1oil").addClass("green");
        }

        if (data.vibration == "high") {
            $("#1vibr").addClass("red");
            $("#1vibr").removeClass("green");
        } else {
            $("#1vibr").removeClass("red");
            $("#1vibr").addClass("green");
        }
    })
    ws.addEventListener('error', function (err) {
        console.log('Hey, something went wrong', err);
    });

    const wsmovement = new WebSocket('wss://' + 'smartsensemovement.eu-gb.mybluemix.net' + '/ws/alerts');
    wsmovement.addEventListener('open', function () {
        console.log(`Heyy, we're connected`);
    });
    wsmovement.addEventListener('message', function (e) {
        var data = JSON.parse(e.data);
        console.log(data);

        $('#clientloading').addClass("hidden");
        $('#clientloaded').removeClass("hidden");

        if (data.temp == "high" || data.leak == "wet") {
            $("#client_ok").addClass("hidden");
            $("#client_warning").addClass("hidden");
            $("#client_danger").removeClass("hidden");
            $("#accordionClient").removeClass("hidden");
        } else if (data.vibration == "high") {
            $("#client_ok").addClass("hidden");
            $("#client_warning").removeClass("hidden");
            $("#client_danger").addClass("hidden");
            $("#accordionClient").removeClass("hidden");
        } else {
            $("#client_ok").removeClass("hidden");
            $("#client_warning").addClass("hidden");
            $("#client_danger").addClass("hidden");
            $("#accordionClient").addClass("hidden");
        }

        if (data.temp == "high") {
            $("#2temp").addClass("red");
            $("#2temp").removeClass("green");
        } else {
            $("#2temp").removeClass("red");
            $("#2temp").addClass("green");
        }
        if (data.leak == "wet") {
            $("#2oil").addClass("red");
            $("#2oil").removeClass("green");
        } else {
            $("#2oil").removeClass("red");
            $("#2oil").addClass("green");
        }
        if (data.vibration == "high") {
            $("#2vibr").addClass("red");
            $("#2vibr").removeClass("green");
        } else {
            $("#2vibr").removeClass("red");
            $("#2vibr").addClass("green");
        }
    })
    wsmovement.addEventListener('error', function (err) {
        console.log('Hey, something went wrong', err);
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
